{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jest/recommended",
        "plugin:flowtype/recommended"
    ],
    "env": {
        "es6": true,
        "node": true,
        "mocha": true,
        "browser": true,
        "jest/globals": true
    },
    "plugins": ["react", "jsx-a11y", "import", "flowtype", "jest"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "globals": {
        "PROJECT_ENV": true
    },
    "rules": {
        "indent": [2, 4]
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    }
}
