.DS_Store
.idea
.git
.vscode
.editorconfig
node_modules
flow-typed
flow-mock
jest
stories
storybook
__tests__
stories.*
.babelrc
.eslintrc
.prettierrc
jest.config.js
postcss.config.js
build.flow.js
npm-debug.log
